.brd{
    background-color:gray;
    height: 2px;
    width: 40px;
    margin: auto;
}

.vol-images{
    border-radius: 50%;
    border: red solid 2px;
}
.vol-content{
    box-shadow: gray 2px 2px 10px;
}
.vol-icons{
    font-size: 25px;
}
.vol-icon{
    margin-right: 10px;
}

.donor-images{
    border-radius: 50%;
}
.donor span{
    bottom: 10%;
    right: 10%;
}
.bg-red{
    background-color: rgb(235, 157, 157);
    border: 2px solid rgb(100, 98, 98);
    border-radius: 10px;
}